mixin counter()
	.counter
		button.counter__btn.counter__btn--dec.minus-number-item
		input.counter__input.number-input(type="number",value="1",min="1",name="quantity")
		button.counter__btn.counter__btn--inc.plus-number-item
		