mixin pag()
	.pag(class!=attributes.class)
		a.pag__size.pag__btn.pag__btn--prev(href="#") <i class="fa fa-angle-left" aria-hidden="true"></i>

		
		a.pag__item.pag__size(href="#") 1
		a.pag__item.pag__size.active(href="#") 2
		a.pag__item.pag__size(href="#") 3
		a.pag__item.pag__size(href="#") 4
		a.pag__item.pag__size(href="#") 5
		
		a.pag__size.pag__btn.pag__btn--prev(href="#") <i class="fa fa-angle-right" aria-hidden="true"></i>
