@import 'config.scss';
@import 'fonts.css';


/*чекбокс для формы второй тест*/
.c-check{
	display: block;
	cursor: pointer;
	input{
		//display: none;
		-webkit-appearance: none;
		appearance: none;
		position: absolute;
		background: white;
		border-color: transparent;
	}
	input:checked+ &__body &__box:after{
		opacity: 1;
	}
	input:focus+ &__body &__box{
		border-color:$warning;
	}
	&__body {
		display: flex;
		align-items: flex-start;
	}
	&__box {
		height: 2em;
		flex:0 0 2em;
		border: 1px solid #d8d8d8;
		position: relative;
		margin-right: 1.3em;
		transition-duration: 0.3s;

		&:after{
			opacity: 0;
			content: '';
			position: absolute;
			height: 1.2em;
			width: .4em;
			
			border-bottom: 2px solid $color;
			border-right: 2px solid $color;
			transform: rotate(45deg) translateY(-.3em);
			left: 0;
			right: 0;
			top:0;
			bottom: 0;
			margin:auto;
		}
		&:hover {
			border-color: $color;
		}
	}
	&__label {
		font-size: 1.3em;
		//color:#333;
		color: #3e3e3e;
		
		a{
			// color:$color;
			color: #3e3e3e;
			text-decoration: underline;
			transition-duration: 0.3s;

			&:hover,&:focus{
				text-decoration-color: transparent;
			}
		}
	}
} 
/**/

.c-input {
	font-size:1.4em;
	font-weight: 300;
	color:#808080;
	text-indent: em(10px,14px);

	min-width: 0;
	
	
	transition-duration: 0.3s;
	height: em(46px,14px);
	
	background: rgba(#F5F5F5,0.75);
	border:none;
	
	border-bottom: em(9px,14px ) solid transparent;
	&:focus{
		border-color:$color;
	}
}
.bb-btn {
	border: 1px solid $color-orange;
	border-radius: 2px;
	padding: 14px 0;
	font-family: Open Sans;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	text-align: center;
	@include transition(0.4s);

	&:hover {
		background: $color-orange;
		color: #fff;
	}
}