$pc:1200px;
$spc:1000px;
$table:800px;
$stable:640px;





$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
$base-pad:3rem;

@function col($count,$margin:$base-pad){
  $size:100%/$count;
  @return calc(#{$size} - #{$margin});
}

@mixin listel($colmar){
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-left: -#{$colmar};
}
@mixin col($count,$colmar){
  width:col($count,$colmar);
  margin-left: $colmar;
}

@mixin transition($duration) {
  transition: all $duration ease-in-out;
}

$color:#323232; //
$color-orange: #CB8738;
$orange-light: #FFAE52;
$color-blue: #577fb1;
$attantion:#ffcd00;;
$warning:#ff181f;