@import "./config.scss";
@import "./common.scss";

*, *:active {
  	outline-style: none;
  	outline: none;
	-webkit-tap-highlight-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
textarea, input {
     -webkit-appearance: none;
}
textarea, input, select {
     border-radius: 0;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
img {
	display: block;
	max-width: 100%;
}
a {
	text-decoration: none;
}
html {
	height: 100%;
    font-size: 62.5%;
}
body {
	max-width: 1920px;
	margin: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: normal;
	color:#323232;
}
.wrapper {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
	max-width: 1200px;
	width: 100%;
	padding: 0px 15px;
	margin: 0 auto;
}
.hidden {
	display: none;
}
/************ css for IE browsers ************/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
/************ css for IE browsers ************/