doctype html
html(lang="ru")
	include parts/mixins.pug
	include parts/head.pug
	include parts/bread.pug
	body
		include parts/header.pug
		.wrapper
			block middle
		include parts/footer.pug
		include parts/popups.pug
		include parts/scripts.pug