extends main.pug
block middle
    link(rel="stylesheet",href="css/uipagestyle.css")
    .container
        h1 элементы управления

        fieldset
            legend INPUT .c-input 
            input.c-input(type="text")
            br
            input.c-input(type="text")
            br
            input.c-input(type="text")
            br
            a.c-btn(href="#") Link
            br
            button.c-btn.c-btn--invert(type="") Button
            button.c-btn.c-btn--attantion(type="") Button
            button.c-btn.c-btn--warning(type="") Button
    
    .container
        .text-content
            h2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, totam.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, ut nihil minus quo accusamus quibusdam eaque similique vitae, facilis molestias numquam, repellat reiciendis ipsam repellendus. Alias nesciunt ea dolor voluptas!
            h3 Lorem, ipsum dolor.
            ul
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, similique?
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quas?
            p Lorem ipsum dolor sit amet
                a(href="#") consectetur adipisicing elit.
                |  Harum beatae aspernatur omnis laborum dolorum, at iure consectetur nam dolores quae quidem assumenda quasi maiores fugit, vel eveniet nostrum corporis dolorem.
            h3 Lorem ipsum dolor sit amet.
            ol
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, similique?
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quas?
            blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quam sed expedita illo tenetur quo omnis? Ut doloremque mollitia accusantium quibusdam. Commodi fuga nobis esse voluptatibus nesciunt delectus facere. Ut?